[Unit]
Description=My T-Do App
Requires=todoapp.socket

[Service]
User=ec2-user
WorkingDirectory=/opt/todoapp
EnvironmentFile=/opt/todoapp/.env
ExecStart=/opt/todoapp/.venv/bin/gunicorn \
            --workers=4 \
            --log-file=/opt/todoapp/todoapp.gunicorn.log \
            --bind=0.0.0.0:8080 \
            todo_app.app:app

